.Content
{
	padding: 20px;
	margin-left: 170px;
	background: white;

	border-left: 1px solid #a6d6f8;
	border-bottom: 1px solid #a6d6f8;
}

.Title, .ParagraphTitle
{
	border-bottom: 1px solid grey;
}

.ParagraphTitle
{
	font-weight: normal;
}

.SubParagraphTitle
{
	font-weight: bolder;
	font-size: 18px;
}

.ContentText
{
	font-family: Linux Libertine, Georgia, Times, serif;
}

.EditArea
{
	max-width: 80%;
	width: 1200px;
	resize: none;
}
