.Content
{
	padding: 20px;
}

.Title, .ParagraphTitle
{
	border-bottom: 1px solid grey;
}

.ParagraphTitle
{
	font-weight: normal;
}

.SubParagraphTitle
{
	font-weight: bolder;
	font-size: 18px;
}

.ContentText
{
	font-family: Linux Libertine, Georgia, Times, serif;
}