html
{
	min-height: 100%;
}

body
{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	background: -moz-linear-gradient(top, #ffffff 40px, #f6f6f6 80px);
	background: -webkit-linear-gradient(top, #ffffff 60px, #f6f6f6 80px);
	background: linear-gradient(to bottom, #ffffff 60px, #f6f6f6 80px);
}

html, body
{
	margin: 0;
	padding: 0;
}

.Container
{
	float: left;
	height: 100%;
	width: 100%;
}

h2
{
	margin-top: 0;
}
