.SideBar
{
	float: left;
	width: 150px;
	height: 100%;

	background: -moz-linear-gradient(top, #ffffff 30px, #efefef 150px);
	background: -webkit-linear-gradient(top, #ffffff 30px, #efefef 150px);
	background: linear-gradient(to bottom, #ffffff 30px, #efefef 150px);

	border-right: 1.5px solid transparent;
	-moz-border-image: -moz-linear-gradient(top, #ffffff  30px, #a6d6f8 80px);
	-webkit-border-image: -webkit-linear-gradient(top, #ffffff 30px, #a6d6f8 80px);
	border-image-slice: 1;
}

.DivLogo
{
	width: 97px;
	margin: auto;
}

.DivLinkjes
{
	width: 100%;
	height: 75%;
}

.DivHead
{
	width: 100%;
	height: 75px;

	background: -moz-linear-gradient(top, #ffffff 30px, #efefef 150px);
	background: -webkit-linear-gradient(top, #ffffff 30px, #efefef 150px);
	background: linear-gradient(to bottom, #ffffff 30px, #efefef 150px);

}

.UlHeader
{
	margin-top: -1%;

}

.LiHeader
{
	float: right;
	margin-right: 1%;
	margin-top: 1%;
}

ul
{
	list-style: none;
}

a
{
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}


